body {
    font-family: Arial;
    text-align: center;
    background-color: #111;
    color: white;
}

#moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.movie-card {
    background: #222;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

.movie-card img {
    width: 100%;
}

